---
import BasePage from "../layouts/BasePage.astro";
---

<BasePage title="About Me" smallHeader={false} description="How to contact me">
    <h1>About Me</h1>
    <p>
      I'm a software developer based in the PNW. I love to build and learn about
      software and technology. I'm currently working as a software developer at
      a medium sized comapany in the telcom/IT services industry.
    </p>

    <h2>Certifications</h2>
    <ul>
      <li>Microsoft Certified: Azure Developer Associate (2024)</li>
    </ul>

    <br />
    <br />
</BasePage>
