---
import BasePage from "../layouts/BasePage.astro";
---

<BasePage title="Contact Me" smallHeader={false} description="How to contact me">
    <h1>How to Contact Me</h1>
    <p>
        The best place to reach me is at my email: <a href="mailto:hey@benbrougher.tech">hey@benbrougher.tech</a><br />
        You can also DM me on Mastodon: <a href="https://mastodon.social/web/@moutansos" target="_blank">@moutansos@mastodon.social</a>
    </p>
</BasePage>