---
import BaseHead from "../components/BaseHead.astro";
import BaseFooter from "../components/BaseFooter.astro";
---
<html lang="en">
    <head>
        <BaseHead title="Home" />
    </head>
    <body>
        <BaseFooter />
    </body>
</html>
