---
const year = new Date().getFullYear();
---
<footer>
    © {year}, Built with
    {` `}
    <a href="https://astro.build/">Astro</a> 🚀<br />
    <div class="link-container">
        <a href="/rss.xml">RSS Feed</a>
        <a href="http://status.benbrougher.tech">Status Page</a>
    </div>
</footer>

<style>
.link-container {
    display: flex;
    flex-direction: row;
}

.link-container a {
    padding: 0.5em;
}

footer {
    font-size: var(--standardFontSize);
    padding-bottom: 1em;
}

a {
    color: var(--linkColor);
}
</style>