---
const year = new Date().getFullYear();
---
<footer>
    © {year}, Built with
    {` `}
    <a href="https://astro.build/">Astro</a><br />
    <a href="https://benbrougher.tech/rss.xml">RSS Feed</a>
</footer>

<style>
footer {
    font-size: var(--standardFontSize);
}
</style>