---
import { SITE_NAME } from "../constants";
---

<header class="main-header">
    <a href="/">
        <h1 class="main-header">{SITE_NAME}</h1>
    </a>
</header>

<style>
.main-header h1 {
    box-shadow: none;
    box-sizing: border-box;
    color: var(--primaryAccent);
    cursor: pointer;
    display: inline;
    font-size: 63.2456px;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    text-decoration: none;
}

.main-header a:link {
    text-decoration: none;
}

.main-header a:visited {
    text-decoration: none;
}

.main-header a:hover {
    text-decoration: none;
}

.main-header a:active {
    text-decoration: none;
}
</style>