---
import { AUTHOR } from "../constants.ts"
---

<div class="bio">
      <p>
        Written by <strong>{AUTHOR}</strong> who lives and works in the Pacific 
        Northwest developing solutions to problems (usually with software). He 
        graduated 2020 from Eastern Washington University as a Computer Science Major, 
        Bachelor of Science (BS), and works engineering and developing software 
        solutions in the enterprise telecommunications industry.
        {` `}
      </p>
</div>

<style>
.bio {
    display: flex;
}
</style>