<nav class="navigation">
    <a href="/" class="nav-link">
        <h4 class="nav-label">Blog</h4>
    </a>
    <a href="/articles" class="nav-link">
        <h4 class="nav-label">Article Library</h4>
    </a>
    <a href="https://www.notion.so/msyke/Knowledge-Base-c10ec00792df48c48a044d01d4348d88" class="nav-link">
        <h4 class="nav-label">Knowlege Base</h4>
    </a>
</nav>

<style>
.navigation {
    padding-bottom: 2em;
}

.nav-link {
    display: inline-block;
    margin: 0.5em;
    padding: 0.2em;
    color: var(--linkColor);
}

.nav-label {
    padding: 0em;
    margin: 0em;
    text-transform: uppercase;
}

.nav-link:visited {
    color: var(--linkColor);
}
</style>