<nav class="navigation">
    <a href="/" class="nav-link">
        <h4 class="nav-label">Blog</h4>
    </a>
    <a href="/articles" class="nav-link">
        <h4 class="nav-label">Article Library</h4>
    </a>
    <a href="https://www.notion.so/msyke/Knowledge-Base-c10ec00792df48c48a044d01d4348d88" class="nav-link">
        <h4 class="nav-label">Knowlege Base</h4>
    </a>
</nav>

<style>
.navigation {
    padding-bottom: 2em;
}

.nav-link {
    display: inline-block;
    margin: 0.5em;
    padding: 0.2em;
    color: var(--linkColor);
    text-decoration: none;
}

.nav-label {
    padding: 0.2em;
    margin: 0em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 1.1;
    border-bottom: 0.12em solid var(--linkColor);
    font-family: 'Merriweather','Georgia',serif;
    font-size: 1.1em;
}

.nav-label:hover {
    border-bottom: none;
}

.nav-link:visited {
    color: var(--linkColor);
}
</style>