---
import BaseHead from "../components/BaseHead.astro";
import BaseFooter from "../components/BaseFooter.astro";
import Navigation from "../components/Navigation.astro";
import { SITE_NAME } from "../constants";

export interface Props {
    title: string,
}

const { title } = Astro.props;
---
<html lang="en">
    <head>
        <BaseHead title={title} />
    </head>
    <body>
        <header class="main-header">
            <a href="/">
                <h1 class="main-header">{SITE_NAME}</h1>
            </a>
        </header>
        <Navigation />
        <slot />
        <BaseFooter />
    </body>
</html>

<style>
body {
    --primaryAccent: hsl(24, 100%, 50%);
    --primaryText: #d2cec6;
    --accentText: rgb(0, 255, 0);
    --primaryBackground: rgb(33, 33, 33);
    --linkColor: hsl(204, 100%, 40%);

    color: var(--primaryText);
    background-color: var(--primaryBackground);
}

.main-header h1 {
    box-shadow: none;
    box-sizing: border-box;
    color: var(--primaryAccent);
    cursor: pointer;
    display: inline;
    font-size: 63.2456px;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    text-decoration: none;
}

.main-header a:link {
    text-decoration: none;
}

.main-header a:visited {
    text-decoration: none;
}

.main-header a:hover {
    text-decoration: none;
}

.main-header a:active {
    text-decoration: none;
}
</style>