---
import BaseHead from "../components/BaseHead.astro";
import BaseFooter from "../components/BaseFooter.astro";
import Navigation from "../components/Navigation.astro";
import BaseHeader from "../components/BaseHeader.astro";

export interface Props {
    title: string,
}

const { title } = Astro.props;
---
<html lang="en">
    <head>
        <BaseHead title={title} />
    </head>
    <body>
        <BaseHeader />
        <Navigation />
        <slot />
        <BaseFooter />
    </body>
</html>

<style>
body {
    --primaryAccent: hsl(24, 100%, 50%);
    --primaryText: #d2cec6;
    --accentText: rgb(0, 255, 0);
    --primaryBackground: rgb(33, 33, 33);
    --linkColor: hsl(204, 100%, 40%);
    --standardFontSize: 1.21rem;

    color: var(--primaryText);
    background-color: var(--primaryBackground);
    margin-left: auto;
    margin-right: auto;
    padding: 2em 1em 1em 1em;
    max-width: 51em;
}
</style>