---
import BasePage from "./BasePage.astro"

const { content } = Astro.props;
const formattedDate = Intl.DateTimeFormat('en-US', {
    month: 'long',
    year: 'numeric',
    day: 'numeric'
}).format(new Date(content.date));
---
<BasePage title={content.title} smallHeader={true}>
    <h1 class="main-title">{ content.title }</h1>
    <p class="date-tag">{formattedDate}</p>
    {content.featuredImage && (
        <img src={content.featuredImage} />
    )}
    <main>
        <slot />
    </main>
</BasePage>

<style>
h1 {
    margin-top: 1em;
    font-family: Montserrat, sans-serif;
    font-size: 2.5em;
}

.main-title {
    margin-bottom: 0;
}

.date-tag {
    margin-top: 0;
    margin-bottom: 2em;
    font-family: 'Merriweather', 'Georgia', serif;
}

img {
    max-width: 85vw;
}

main :global(img) {
    max-width: 85vw;
}

main :global(h1) {
    margin-top: 1em;
    font-family: Montserrat, sans-serif;
    font-size: 2.5em;
}

main :global(h2) {
    margin-top: 1.75em;
    font-family: 'Merriweather','Georgia',serif;
    font-size: 2em;
}

main :global(h3) {
    font-family: 'Merriweather','Georgia',serif;
    font-size: 1.5em;
}

main :global(blockquote) {
    border-left: 0.25em solid grey;
    margin-left: -1.5em;
    padding: 0em 1em 0em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.4em;
    font-style: italic;
}
</style>